<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historias del Fogón</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>
    <div class="container" data-0="transform: translateX(0%);" data-3070="transform: translateX(-592%)" id="container" >
        <!--Portada-->
        <section class="mcont" data-0="opacity: 1;" data-900="opacity: 0;">
            <img src="img/portada.png" alt="" class="portada" id>
        </section>
        <!--Título-->
        <section class="mcont" data-1500="opacity: 0;" data-1000="opacity: 1;" data-1200="opacity:0;">
            <div class="content portadilla col-sm-12 col-md-12" id="test">
                <h1>Historias del fogón</h1>
                <h4>Experiencias de vida de cocineras tradicionales colimenses</h4>
                <h4>Proyecto buendía</h4>
            </div>
        </section>
        <!--Creditos-->
        <section class="mcont">
            <div class="content responsive-padding">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h3>Historias del fogón: experiencias de vida de cocineras tradicionales colimenses<br><small>edición digital, 2020</small></h3><br>
                    </div>
                    <div class="col-sm-6 col-md-6  ">
                        <p><b> Desarrollo de texto </b></p>
                        <p>Oscar Armando Martínez</p>
                        <br />
                        <p><b>Asesoría técnica </b></p>
                        <p>Mayreni Ortega Monroy</p>
                        <br />
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p><b>Fotos e ilustraciones</b></p>
                        <p>Úrzula Reyes</p>
                        <br />
                        <p><b>Edición</b></p>
                        <p>Proyecto Buendía</p>
                        <br />
                        <p><b>Desarrollo de publicación digital</b></p>
                        <p>Carlos Martínez</p>
                    </div>
                </div> 
            </div>
        </section>
        <!--Índice-->
        <section class="mcont">
            <div class="content">
                <div class="row">

                    <div class="col-sm-12  col-md-4">
                        <div class="card   hvr-grow" >
                            <div class="section media  ">
                                <img src="/img/icon5.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4 class="title">Presentación</h4>
                            </div>
                        </div>
                        <div class="card   hvr-grow" >
                            <div class="section media ">
                                <img src="/img/portada1.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4 class="title">Bodas y platillos con Lourdes Hernández</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="card   hvr-grow" >
                            <div class="section media ">
                                <img src="/img/portada2.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4 class="title">Tesoros enterrados en Ixtlahuacán</h4>    
                            </div>
                        </div>
                        <div class="card   hvr-grow" >
                            <div class="section media ">
                                <img src="/img/portada3.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4 class="title">Contradicciones en el paraíso</h4>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="card   hvr-grow" >
                            <div class="section media ">
                                <img src="/img/portada4.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4>Café del puerto</h4>
                            </div>
                        </div>
                        <div class="card   hvr-grow" >
                            <div class="section media">
                                <img src="/img/portada5.png"  class="section media" alt="">
                            </div>
                            <div class="section">
                                <h4>La milpa de Eva</h4>
                            </div>
                        </div>    
                    </div>

                </div>
            </div>
        </section>
        <!--Presentación-->
        <section class="mcont">
            <div class="content presentacion">
                <h2>Presentación</h2>
                <p>Historias del fogón es una recopilación de textos que abordan las vidas, problemáticas y recorren las cocinas de cinco mujeres a lo largo del estado. Nace de una necesidad por visibilizar a estas mujeres, de otorgarles un espacio para contar sus logros, sus pesares y sobre todo su conocimiento.</p>
                <p>En los textos, el lector o la lectora podrán detectar que todas las mujeres entrevistadas tienen una fuerte relación con el campo, los productos que este genera y el aprovechamiento de los recursos, con métodos de recolección y técnicas de preparación, en mayor o menor medida, cercanas a la tradición de la cocina nacional pero con las particularidades del estado. De la misma forma, son receptoras y transmisoras de un conocimiento a través de la oralidad que proviene, en la mayoría de los casos, de figuras femeninas con un nivel de relación terciario: abuelas y abuelos, suegras, patronas, etcétera.</p>
                <p>En suma, las cuatro palabras claves con las que se podría resumir esta obra son: mujer, campo, cocina y oralidad.</p>
                <p>Antes de continuar, es necesario mencionarle al lector o lectora algunas particularidades de esta edición digital:</p>
                <ul>
                    <li>Todo el texto que se encuentre indicado de <a target="_blank" href="">esta manera</a> está vinculado a contenido externo en internet y es posible consultarlo desde el dispositivo donde se esté leyendo.</li>
                    <li>A través de la aplicación de lectura que se esté usando (<a target="_blank" href="https://calibre-ebook.com/download">Calibre</a>, <a target="_blank" href="https://chrome.google.com/webstore/detail/readium/fepbnnnkkadjhjahcafoaglimekefifl?hl=es">Readium</a> de Google, <a target="_blank" href="https://addons.mozilla.org/es/firefox/addon/epubreader/">EPUBReader</a> de Mozilla FireFox, entre otras) pueden ser modificadas las preferencias de lectura (tamaño, color y tipo de letra, así como color de fondo) para generar una experiencia más cómoda.</li>	
                </ul>
                <p>La ventaja principal que ofrece esta publicación digital es la mayor y más rápida distribución que el contenido puede tener; invitamos al lector o lectora a que comparta libremente la obra, siempre y cuando no haga uso comercial de ella. Las características de la licencia pueden ser consultadas <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/">aquí</a>.</p>
            </div>
        </section>
        <!--Bodas y platillos portada-->
        <section>
            <div class="coverOne"></div>
            <img src="img/portada1.png" alt="" class="img1">
        </section>
        <!--Bodas y platillos Post-->
        <section data-3300="transform: translateY(180%);" data-4500="transform: translateY(-280%);">
          <div >
            <div class="content">
                <h2 class="title">Bodas y platillos con Lourdes Hernández</h2>
                <br>
                <p class="p1">
                En 1824 , el territorio de Colima y la entonces Provincia de Guadalajara se declararon como dos estados federales totalmente independientes. Con esta pisión, Jalisco se añadiría localidades como Tuxpan, Tolimán, Zapotitlán de Vadillo, Pihuamo y demás regiones que compartían con Colima una identidad cultural.  
                </p>
                <p class="p2">
                Sin embargo, los efectos de la cultura no entienden de líneas imaginarias y pisiones políticas. Aunque ahora nos podríamos pensar separados por un volcán harto de fotografías y  metáforas en su honor, casi dos siglos después, la identidad del sur de Jalisco y Colima siguen siendo bastantes cercanas, manifestándose de manera contundente y particular, por sólo mencionar un hecho, en la confusión que hasta la fecha genera Pedro Páramo en los lectores locales, aguerridos a querer localizar un pueblo imaginario que nunca existió, sin entender que ese Comala lleno de muertos es la representación de todo un territorio. 
                </p>
                <p class="p2">
                Tenemos el mismo pasado y en el presente nos unimos a Jalisco a través de platillos, ingredientes, voces, biósfera, tradiciones y rituales. Somos un efecto similar a Tijuana y San Diego, aunque a nosotros no nos separa un visado o no aún. Así es nuestra naturaleza como sociedad, separatismo inpidualista y el 2020 ayudó a entender que se pueden llegar a situaciones que nunca desearíamos.
        
                </p>
                <p class="p2">
                Pero ante los momentos adversos, el pensamiento comunitario no tarda en reivindicarse y las acciones más cotidianas, como la cocina, se convierten en espacios de defensa de nuestra colectividad.        
                </p>
                <br>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <p class="p1">
                Mi abuela se llamaba Raquel Nava y era originaria de Zapotitlán de Vadillo, Jalisco, aquí cerquita de Colima. En su pueblo creció viendo cómo las gentes humildes, cuando querían celebrar en grande una boda o un evento importante, se cooperaban con ingredientes, animales o manos para preparar festines y banquetes juntos. Lo que más se preparaba era mole de bodas, platillo bien importante y típico, más comido en los festejos de los acaudalados de los ranchos, por su costo.
                </p>
                <p class="p2">
                Mi bisabuelo, el papá de mi abuela Raquel, murió por cristero y cerca de 1940, ya casada con mi abuelo, dejaron juntos su terruño y se fueron a vivir a El Remate.        
                </p>
                <p class="p2">
                En ese entonces, según los historiadores que he leído, El Remate era una pequeña Suiza del mundo rural, pues solía tener buenos servicios destinados para los trabajadores y familias de la extinta planta eléctrica, que dejó como ruinas los estanques, los acueductos que bajan por la barranca y las piezas grandes que están entre la maleza.
                </p>
                <p class="p2">
                Mi abuela Raquel cocinaba para los trabajadores con el fin de ingresar un dinerito extra a la bolsa, pues aunque mi abuelo trabajaba en el campo, el dinero no llegaba hasta el final de la cosecha. Con el tiempo mi mamá y su hermana nacieron en El Remate y años después también yo.
                </p>
                <p class="p2">
                Mi nombre es Lourdes Hernández, soy la hija mayor de mi mamá y nací en 1967, el mismo año que la planta dejó de funcionar. En 2016 presenté, en el Primer Festival Gastronómico de Comala, el mole de bodas que mi abuela Raquel me enseñó a cocinar y resulté ganadora en el concurso Rescatando la cocina típica de Comala. Desde esa bonita experiencia, me dedico a mostrar mi conocimiento del campo y todo lo que mi abuela me enseñó. 
                </p>
                <p class="p2">
                Vivo en La Caja, ejido a seis kilómetros de Comala y en medio trecho hacia El Remate. Mi cocina es un hermoso espacio bajo un árbol de tamarindo con fogones, hornos de barro, leña, metates, balsas y persas plantas de las que poseo muy buen conocimiento. Este espacio lo estoy diseñando para hacer una pequeña escuelita de cocina tradicional.
                </p>
                <p class="p2">
                Yo crecí, digamos, que entre los fogones de mi abuela y el campo. Así fue prácticamente mi niñez, los juegos de nosotros eran jugar a la comidita y a la cocinera. Más crecidita, estábamos encargadas de llevar, junto con otros chiquillos, el almuerzo a los jornaleros y ahí nos distraíamos viendo cómo trabajaban. Yo aprendí a amar al campo y la cocina como un juego, no como una obligación.
                </p>
                <p class="p2">
                La vida del campo es bonita, entre la tranquilidad y la belleza de la naturaleza, ¡pero no te creas, eh! Mi familia y yo vivimos pobreza, pero no esa en la que tú pasas hambre. ¿Entienden?
                </p>
                <p class="p2">
                Mi abuelo y mi papá fueron hombres que se dedicaron al campo y en El Remate de todo se daba: sembraban variedades de chiles serranos, güeros, pasillas y de árbol; variedades de jitomates, el llamado silvestre de riñón y un tomatito milpero, moradito y muy aromático que es bueno para las salsas.  Sobre el maíz, también te puedo decir que lo conozco muy bien porque me enseñaron a aprovecharlos toda la temporada: desde bien tiernitos y así crudos, hasta bien sazones para usarlos en una preparación con leche y azúcar llamada Tamal colado.
                </p>
                <p class="p2">
                Por su parte, mi abuela Raquel era muy cuidadosa en cómo alzaba y conservaba lo que venía de las tierras: antes nomás lo podías hacer con el fuego, con el humo, la sal y el vinagre. Fue ella mi primer contacto con la cocina, quien me enseñó a comprar, a darle punto a los platillos y de quien recibí los mejores consejos que me han dado.
                </p>
                <p class="p2">
                Acerca de la cocina, el consejo más presente que tengo, es el que me compartió sobre la receta de su mole de bodas: mi abuela decía que este tiene que saber a todo y a la vez a nada, que ningún ingrediente gane en sabor al otro. Por eso me gusta el mole, porque es unidad entre los ingredientes y festejo, se hace en momentos que son para disfrutar.
                </p>
                <img src="img/fig1.jpg" alt="" class="image">
                <p class="blockq">
                -A mí siempre me había llamado la atención el plato del mole, que era como un platillo especial , a lo mejor por lo complejo-. 
                </p>
                <p class="p1">
                Pensarán que hago mucho ruido por una receta tan popular, que se come en todas las cenadurías. Pero es que el mole de mi abuela es diferente, también es de sabor semi dulce, ¡pero eso sí!, no lleva tanta cosa: no le pongo pasas, ni galletas y no sé cuánto más. El mío es sencillo, consiste únicamente de chiles, ajos, chocolate, piloncillo, harina y diferentes olores machacados en el metate para aprovecharlos bien.
                </p>
                </p>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <p class="p1">
                Me acuerdo de las memorias de mi abuela, era una muy bonita época la que nos contaba ella. En las bodas de antes, decía, se servían caldos y consomés riquísimos, calabacitas con cerdo o pipianes, pero el mero momento y el que la gente más esperaba, era el del mole, acompañado de su pieza de guajolote y su sopita de arroz.
                </p>
                <p class="p2">
                Es muy bonito contarlo, pero no se confundan, no me considero una persona que viva del pasado, por eso creo que hay cosas que deberían recordarse como historias pero no vivirse en estos momentos, sobre todo para la mujer.
                </p>
                <p class="p2">
                Te voy a contar que cuando una jovencita era pedida en matrimonio y esta aceptaba el ofrecimiento, la futura suegra encargaba a la novia tejer chiquihuites grandes, ¡enteros!, llenos de servilletas en punto de cruz y repartirlos entre las cuñadas, las tías, las amigas y cuanta mujer te pusiera la suegra en lista. El día de la misa, una dejaba los chiquihuites en las puertas de la iglesia para demostrarles que sí habías cumplido.
                </p>
                <p class="p2">
                Pero además, la novia tenía que tejer el mantel para su propia mesa. Y si por algo no se cumplía, la penitencia era una forma de exhibición pública: de todas las demás mesas se encargaba la suegra de ponerles, pero a tu mesa, la mesa de la novia, no se le ponía nada.
                </p>
                <blockquote >
                -¡Si tu no hiciste el mantel, pues tu mesa iba a estar pelona!-. 
                </blockquote>
                <p class="p1">
                Entonces lo que te digo, es que se me hace bonito recordar y a la vez pienso: qué bueno que ya no existe. ¿Por qué darte el valor como mujer por una servilleta?
                </p>
                <p class="p2">
                A lo mejor algunas familias todavía lo usen en Zapotitlán, pero ya no es muy común. Así como el tejido, que ya no muchas mujeres de La Caja lo hacemos, hemos de ser unas tres quienes lo practicamos.
                </p>
                <p class="p2">
                También te platico, había otras ocurrencias de aquellos años que a mi me causan un tipo de risa. De voz de mi abuela, escuché que cuando el padre de la novia no se sentía bien atendido durante la fiesta, en un acto de soberbia, metía su dedo a plato ajeno y manchaba de mole su costado izquierdo, como para que todos vieran que el padre no estaba siendo bien atendido.
                </p>
                <p class="p2">
                Afortunadamente eso ya no me tocó en mi boda, pero tampoco comimos mole. Hubo un momento en el que la gente dejó de tejer las servilletas y eso que yo te contaba, pero también comenzaron a servir otras comidas en los eventos. Y todo esto a mí me hacía pensar: bueno, si gusta tanto el mole y tiene tantas historias, ¿por qué la gente ya no hace mole?
                </p>
                <p class="p2">
                Yo creo que es a lo mejor por la desunión o a lo mejor que ya no te quiero pedir o ya no te quiero consultar, porque antes así era. En Zacualpan todavía se utiliza, no con el mole, pero pasa que la gente se junta para las fiestas y hacen unos fiestonones.
                </p>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <p class="p1">
                Después de ganar el concurso en 2016 comencé a viajar por algunas ciudades de la república, aprendiendo de otras cocineras en encuentros y cocinando en algunas ferias. Visité la Ciudad de México, Chiapas e Hidalgo y he conocido a cocineras como a la chef de Cevichería Tabasco, a Juana Bravo y otros referentes nacionales de la cocina tradicional, trabajadores de museos, historiadores y personas que me han ayudado mucho.
                </p>
                <p class="p2">
                En mis viajes, me he percatado que la cocina tradicional y la identidad de Colima es aún desconocida para el resto del país e incluso para los mismos colimenses, quienes regularmente pensamos que no existe una tradición propia. Las personas que conocí en los encuentros a los que asistí, preguntaban si Colima realmente es poseedor de una cocina auténtica y no es un producto de las regiones de alrededor.
                </p>
                <p class="p2">
                No me dejarán mentir, que a diferencia de otras entidades de la república, como en Michoacán, Oaxaca o Chiapas, hasta hace unos años en Colima este movimiento de la cocina tradicional no estaba de moda. Primero hubo algunos chefs que comenzaron a promocionar platillos e ingredientes de nuestro territorio y después un grupo de cocineras tradicionales y yo, la mayoría de la parte norte del estado, comenzamos a organizarnos en el colectivo Mujeres de Fuego. Hemos realizado pláticas, vendimias y es una forma de mostrar nuestra cocina.
                </p>
                <p class="p2">
                Ahora yo tengo bien fijo lo que quiero dar a conocer: no en sí la pura receta de una comida u otra, sino que conozcan las raíces, la cultura, la forma en como te puedes alimentar de una manera donde no necesites tanto. Que estén presentes porque yo creo que es una forma de subsistencia.
                </p>
                <p class="p2">
                En estos tiempos de tanta pandemia y tanta crisis, no le tengo miedo al hambre, sé que yo y los míos vamos a estar bien, porque hemos aprendido a aprovechar y conocer lo que la tierra nos ofrece. Nosotros sin luz ni internet no nos paralizamos, sabemos guardar las hortalizas en balsas con ceniza del fogón, sé curar la carne cruda con sal y humo, sé hacer una tortilla y en todo este conocimiento, yo veo una oportunidad.
                </p>
                <blockquote class="blockq">
                -A lo mejor son técnicas muy rudimentarias, a lo mejor nadie va a poner un fogón en su casa, porque no se puede, pero de menos que lo sepas-.
                </blockquote>
                <p class="p1">
                Si quieres saber más de mi y seguir mis publicaciones, puedes agregarme en <a href="" target="_blank">Facebook</a>  e <a href="" target="_blank">Instagram</a>.
                </p>
                <div class="decorators my-6">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
            </div>
          </div>
        </section>
        <!--Tesoros enterrados-->
        <section  data-4300="transform: translate(-99%, 100%)"  data-5500="transform: translate(-99%, -100%);" data-5600="transform: translate(-103%, -200%);">
            <div class="coverTwo"></div>
            <img src="img/portada2.png" alt="" class="img1">
        </section>
         <!--Tesoros enterrados Post-->
        <section  data-5300="transform: translate(-200%, 250%);"   data-6500="transform: translate(-200%, -180%);">
            <div> 
                <div class="content ">
                    <div class="header">
                        <h1 class="title my-6">
                            Tesoros escondidos en Ixtlahuacán
                        </h1>
                          <h4 class="subtitle">
                            Autoría de Mayreni Ortega Monroy
                          </h4>
                    </div>
                    <p class="p1">
                    ¿Cuántas veces hemos escuchado decir “me vale un cacahuate”? ¿Será cierto que vale tan poco o más bien deja de ver lo poco que sabemos de este alimento?
                    </p>
                    <p class="p2">
                    Aunque no lo parezca, el cacahuate es una legumbre y no una nuez. Algunas personas lo llaman nueces de tierra y para otros es “la migrante más exitosa de la historia” ya que esta es una hermosa planta de flores amarillas nativa de sud américa, que se encuentra en miles de recetas por todos los rincones del mundo. Si intentáramos hacer un recetario con ellas, sería imposible por completo.
                    </p>
                    <p class="p2">
                    La filósofa Vanessa Villegas hizo una extraordinaria investigación en su <em>podcast</em> dónde nos narra cómo pasó de estar en las ofrendas de los dioses a ser un alimento de pobres. Después de la colonización y esta necesidad del conquistador por invisibilizar todo lo previo a la conquista, el cacahuate comenzó a perder valor por su pasado indígena, era lo manchado, lo sucio y por supuesto denotaba pobreza. Pero entonces ¿cómo es que este alimento está en todos los rincones del mundo? Su alto valor nutricional, la facilidad con la que se transporta y lo noble que es la planta para crecer en la tierra fueron elementos importantes para su gran distribución.
                    </p>
                    <p class="p2">
                    Si tratamos de hacer conciencia sobre nuestra relación con el cacahuate, podemos recordarlo en nuestras ofrendas a los muertos y las posadas decembrinas. En la cocina es un elemento que tiene mucho juego en los moles y pipianes, así como en dulces y salsa. Sin embargo, hay una sensación de que está pero a la vez no.
                    </p>
                    <p class="p2">
                    Personalmente podemos decir que antes de esta investigación sabíamos muy poco de él. No conocíamos la planta, ni su forma de cultivo, ni mucho menos que Colima es el único productor de cacahuate en el occidente de México y específicamente en Ixltahuacán se concentra la mayor cantidad de hectáreas, para ser más exacto en la comunidad de Las Conchas.
                    </p>
                    <p class="p2">
                    Juan Carlos Reyes Garza en 1994 escribió el ensayo <em>Los Pueblos Indios y su vida</em>em> donde narra que el cacahuate era antiguamente parte del cultivo indígena el cual se concentraba principalmente en los huertos familiares y quienes cuidaban esto eran las mujeres. Es importante recordar que hasta ahora, la mujer sigue realizando la misma actividad en comunidades como Canoas, Terrero, Piscila y seguramente en todas las comunidades rurales del territorio Colimense donde se cultive.
                    </p>
                    <p class="p2">
                    Ixtlahuacán se encuentra arropado por persos valles que se adaptan a sólo dos temporalidades, la de lluvia y la de secas. Fue uno de los primeros ayuntamientos registrados y su nombre oficial era Ixtlahuacán de los Reyes, en honor a los Reyes del Oriente. Apenas contamos con una mano lo que sabemos de este lugar, entre ellos los Chayacates que se celebran precisamente en vísperas y el día de reyes, la Feria del Melón y las grutas de San Gabriel.
                    </p>
                    <p class="p2">
                    Al colimense cuándo le preguntan qué hay en Ixltahuacán, más de una persona responderá que nada, que no existe, que está perdido entre Colima y Tecomán. Entonces no nos parece extraño que Ixtlahuacán  signifique en náhuatl “lugar desierto, sin árboles ni habitaciones, tierra plana, valle” esto de acuerdo a la <em>Enciclopedia de Municipios y Delegaciones de México</em>. Por un lado, podemos atribuir esto a la terca necesidad de centralizar todo lo que hacemos, pero por otra parte, está la sensación de que los mismos habitantes se mantienen aislados y de perfil bajo.
                    </p>
                    <p class="p2">
                    Pero a pensa de lo que creemos, aquí pasan y nacen muchas cosas, varias dignas de compartir y otras que causan mucha rabia. Y es que la historia de este lugar se ha construido entre pueblos tremendamente saqueados, quemados y en constante conflicto por tierras. Sin embargo, vemos cómo este pequeño paraíso es noble en la tierra y promete un futuro digno a las personas que viven en él.
                    </p>
                    <p class="p2">
                    Entre arcos que te dan la bienvenida al jardín principal con su kiosco, la casa de la cultura y un museo comunitario lleno de vasijas, hamacas de acapán, máscaras de chayacates y muchas fotografías que retratan la historia de este municipio, verás que Ixtlahuacán es como un cacahuate, por arriba ves frondosos paisajes que asemejan a la verde planta pero que cuando la descubres y la sacas de la tierra, encuentras impresionantes historias de lucha, identidad y comunidad.
                    </p>
                    <div class="decorators">
                        <img src="img/icon2.png" class="deco1" alt="">
                    </div>
                    <p class="p1">
                    Sandrá Contreras Chavez tiene 33 años y hace seis años que en medio de un embarazo, maternidad, carencias y persas desventajas por venir de comunidad rural, creó los productos denominados Cacahuates de Origen Las Conchas. Una búsqueda tan personal y necesaria para su futuro económico y profesional, terminó por impulsar la identidad de su municipio e intentar cambiar la dinámica de toda una comunidad que históricamente se ha dedicado a producir cacahuate.
                    </p>
                    <p class="p2">
                    Agua de la Virgen se ubica a diez minutos de la cabecera municipal de Ixtlahuacán y a seis kilómetros de Las Conchas. En este lugar es donde la familia de Sandra siempre ha vivido y la única razón por la que ella ha salido de su comunidad es para estudiar. Nadie en su familia se había dedicado antes al cultivo de cacahuate, pero es hasta hace diez años cuando su esposo comenzó a cultivarlo y en ese momento ella conoce más sobre la planta, los cuidados y los tipos de cultivo.
                    </p>
                    <p class="p2">
                    Comúnmente el cacahuate se ha vendido a coyotes de otros estados, seguramente por eso es que en Colima se sabe muy poco del cacahuate de Ixtlahuacán, puesto que se va del estado y se vende como de otras regiones. Sin embargo, siempre ha estado en el imaginario de todos los ixtlahuacanenses, pues se hace presente en las fiestas, en las ofrendas, pero sobre todo en la economía. Las Conchas concentra la mayor cantidad de los cultivos de cacahuate, pegados al Río Coahuayana, y a pesar de que cada año se corre el riesgo de que los plantíos se pierdan a causa de los huracanes, la gente confía en esa tierra y el producto que ahí se da.
                    </p>
                    <p class="blockq">
                    -Yo he probado muchos cacahuates, pero ninguno me da la calidad que me da el de las Conchas, yo no sé qué será, si es estar pegado al río, si es que el río limpia la tierra, pero con ningún otro me da la aceitocidad y textura que necesito-. 
                    </p>
                    <img src="img/fig2.jpg" class="image" alt="">
                    <p class="p1">
                        Sandra y su empresa tienen once productos derivados del cacahuete, estos van desde el tostado sencillo, mazapanes, crema, ponche y una salsa de cacahuete deliciosa.
                    </p>
                    <p class="p2">
                    En Las Conchas muchas familias se dedican a la siembra de cacahuate por lo menos desde hace cincuenta años. Minelo, como lo llama Sandra, es Manuel Zepeda, originario de Las Conchas y donde su familia siembra cacahuate.
                    </p>
                    <p class="blockq">
                    -Las fiesta de Las Conchas son las más importantes y más concurridas que cualquier otras del municipio, porque en ese momento ya casi todos vendieron el cacahuate y las familias están aquí felices de la buena venta- dice Manuel.
                    </p>
                    <p class="p1">
                    Los festejos patronales se realizan a principios de diciembre, temporada donde el producto puede llegar a aumentar en precio hasta un 30% pues su cercanía con la temporada de fiestas.
                    </p>
                    <p class="p2">
                    Sandra no tiene familiares en este lugar, sin embargo la llaman prima y actualmente la reconocen y quieren.
                    </p>
                    <p class="blockq">
                    -Esto fue creciendo porque las personas fueron dándome ese lugar, reconociéndome en cuestión de que soy la que les compra el cacahuate, ahora ellos nos hablan y nos dan la confianza. Me siento muy comprometida y agradecida con la comunidad de Las Conchas porque me dejan utilizar su nombre para mis productos, esto me impulsa para seguir creciendo y superarme-.
                    </p>
                    <p class="p1">
                    Hoy en día quienes conocen a Sandra reconocen su trabajo y gracias a la cercanía con los productores, es ella quien les representa antes los empresarios, con apoyo de la Secretaria de Desarrollo Rural. Esto ha traído nuevos retos para ella y también trajo consigo cuestionamientos que nacen desde visiones machistas en un sector que se aferra a ser representado por hombres. Esta situación no le ha quitado ni fortaleza, ni decisión a Sandra y para sortearlos, nos dice que con ellos sólo hay que buscar las palabras adecuadas.
                    </p>
                    <p class="p2">
                    Gracias al trabajo de Sandra, los últimos años podemos identificar que en Ixtlahuacán se cultiva cacahuate y de excelente calidad. Un trabajo que parecía sólo de ella, terminó siendo para todos los ixtlahuacanences y sobre todo de los productores.
                    </p>
                    <p class="p2">
                    Actualmente las familias que plantan cacahuate siguen vendiéndoles a revendedores pero muchos otros se lo venden a Sandra, confiando en un trabajo que es cercano y colectivo, que representan el esfuerzo de las familias de Las Conchas. 
                    </p>
                    <p class="p2">
                    A manera de confidencia, Sandra cuenta que ella y su mamá crearon el tamal de cacahuate: la diferencia con cualquier otro es que la típica carne se sustituye por cacahuete adobado. El dos de febrero de este 2020 fue la primera vez que lo vendieron y generó buena respuesta, por lo que hacen ahora sobre todo por pedido.
                    </p>
                    <p class="blockq">
                    -Mi mamá cocina muy rico. Ella ha estado ahí siempre cuando yo tengo ganas de hacer algo o me nacen ideas-.
                    </p>
                    <div class="decorators">
                        <img src="img/icon2.png" class="deco1" alt="">
                    </div>
                    <p class="p1">
                    La cocina tradicional se conforma del uso de herramientas, de la transmisión de conocimiento a través de la oralidad, pero sobre todo de la preservación y cultivo de ingredientes nativos. Por ahora no lo sabemos, pero quizá Sandra ha dejado un parteaguas en lo que será la cocina tradicional de Ixtlahuacán.  
                    </p>
                    <p class="p2">
                    Si bien este es uno de los municipios con mayor antecedentes indígenas, poco se sabe de su cocina. No hay restaurantes icónicos y en sus fiestas la única comida que se encontramos son tacos, dice Sandra. Ha sido una difícil búsqueda, sin embargo, es obvio que está ahí, como algo vivo pero que resiste entre las mujeres cocineras que están en espera de que las encontremos. 
                    </p>
                    <p class="p2">
                    Frente a nosotros tenemos cosas valiosas que pasan con mucha cotidianidad pero que al hacerlas propias nos llevan por viajes de aprendizaje. Sandra lo ha hecho de la mano de sus padrinos, hermanas, cuñados, las familias de productores, sus hijos y madre. Hemos descubierto en Sandra un manojo de historias enterradas, dignas de compartir y que suceden en Ixtlahuacán, siendo importante para resignificar lo que este municipio aporta para nuestra colectividad.
                    </p>
                    <div class="decorators">
                        <img src="img/icon2.png" class="deco1" alt="">
                    </div>
                </div>
            </div>
            
        </section>
    </div>
    
    <!---->
    <div class="footer">
        <div>
            <button id="prev" class="controls"><i class="fas fa-arrow-left"></i></button>
            <button id="next" class="controls"><i class="fas fa-arrow-right"></i></button>
            <button id="volum" class="controls"><i class="fas fa-volume-up"></i></button>
        </div>
    </div>
</body>

<script type="text/javascript" src="./js/skrollr.js"></script>
<script type="text/javascript" src="./js/controls.js"></script>
<script src="https://kit.fontawesome.com/1e1a8bc4b5.js" crossorigin="anonymous"></script>

</html>