<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">

</head>
<body>
    <div class="container" data-0="transform: translateX(0%);" data-1000="transform: translateX(-500%)" id="container" >
        <section class="content">
            <img src="img/portada.png" alt="" class="portada">
            
        </section>
        <section >
            <div class="content portadilla" id="test">
                    <h1>Historias del fogón</h1>
                    <h3>Experiencias de vida de cocineras tradicionales colimenses</h3>
                    <h4>Proyecto buendía</h4>

            </div>
        </section>
        <section>
            <div class="content">
                <h4>Historias del fogón: experiencias de vida de cocineras tradicionales colimenses<small>edición digital, 2020</small></h4><br>
                <p>Desarrollo de texto</p>
                <p>Oscar Armando Martínez</p>
                <br />
                <p>Asesoría técnica</p>
                <p>Mayreni Ortega Monroy</p>
                <br />
                <p>Fotos e ilustraciones</p>
                <p>Úrzula Reyes</p>
                <br />
                <p>Edición</p>
                <p>Proyecto Buendía</p>
                <br />
                <p>Desarrollo de publicación digital</p>
                <p>Carlos Martínez</p>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Índice</h2><br>
                <p><a target="_blank" href="/">Presentación</a></p>
                <br />
                <p><a target="_blank" href="/">Bodas y platillos con Lourdes Hernández</a></p>
                <br />
                <p><a target="_blank" href="/">Tesoros enterrados en Ixtlahuacán</a></p>
                <br />
                <p><a target="_blank" href="/">Contradicciones en el paraíso</a></p>
                <br />
                <p><a target="_blank" href="/">Café del puerto</a></p>
                <br />
                <p><a target="_blank" href="/">La milpa de Eva</a></p>
                <br />
                <p><a target="_blank" href="/">Acerca de</a></p>
            </div>
        </section>
        <section>
            <div class="content presentacion">
                <h2>Presentación</h2>
                <p>Historias del fogón es una recopilación de textos que abordan las vidas, problemáticas y recorren las cocinas de cinco mujeres a lo largo del estado. Nace de una necesidad por visibilizar a estas mujeres, de otorgarles un espacio para contar sus logros, sus pesares y sobre todo su conocimiento.</p>
	<p>En los textos, el lector o la lectora podrán detectar que todas las mujeres entrevistadas tienen una fuerte relación con el campo, los productos que este genera y el aprovechamiento de los recursos, con métodos de recolección y técnicas de preparación, en mayor o menor medida, cercanas a la tradición de la cocina nacional pero con las particularidades del estado. De la misma forma, son receptoras y transmisoras de un conocimiento a través de la oralidad que proviene, en la mayoría de los casos, de figuras femeninas con un nivel de relación terciario: abuelas y abuelos, suegras, patronas, etcétera.</p>
	<p>En suma, las cuatro palabras claves con las que se podría resumir esta obra son: mujer, campo, cocina y oralidad.</p>
	<p>Antes de continuar, es necesario mencionarle al lector o lectora algunas particularidades de esta edición digital:</p>
	<ul>
		<li>Todo el texto que se encuentre indicado de <a target="_blank" href="">esta manera</a> está vinculado a contenido externo en internet y es posible consultarlo desde el dispositivo donde se esté leyendo.</li>
		<li>A través de la aplicación de lectura que se esté usando (<a target="_blank" href="https://calibre-ebook.com/download">Calibre</a>, <a target="_blank" href="https://chrome.google.com/webstore/detail/readium/fepbnnnkkadjhjahcafoaglimekefifl?hl=es">Readium</a> de Google, <a target="_blank" href="https://addons.mozilla.org/es/firefox/addon/epubreader/">EPUBReader</a> de Mozilla FireFox, entre otras) pueden ser modificadas las preferencias de lectura (tamaño, color y tipo de letra, así como color de fondo) para generar una experiencia más cómoda.</li>	
	</ul>
	<p>La ventaja principal que ofrece esta publicación digital es la mayor y más rápida distribución que el contenido puede tener; invitamos al lector o lectora a que comparta libremente la obra, siempre y cuando no haga uso comercial de ella. Las características de la licencia pueden ser consultadas <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/">aquí</a>.</p>

            </div>
        </section>
    </div>
    <!--
    <div class="footer">
        <div>
            
            <button id="prev">anterior</button>
            <button id="next">siguiente</button>
        </div>
    </div>
    -->
</body>
<script type="text/javascript" src="./js/skrollr.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
</script>
<script type="text/javascript">
    scroln = 0 ;
    var elements = document.getElementById("container").childElementCount;
    var nextBtn = document.getElementById("next");
    var prevBtn = document.getElementById("prev");

    var limit = elements * -100;
    var nlimit = elements * 100;
    

    prevBtn.onclick = function(){
        scroln += 100;
        document.getElementById('container').style.transform = "translateX("+ scroln +"%)";
        if(scroln == 100){
            scroln = nlimit;
        }
        console.log(scroln, limit), nlimit
    }


    nextBtn.onclick = function(){
        scroln += -100;
        document.getElementById('container').style.transform = "translateX("+ scroln +"%)";
        if(scroln == limit){
            scroln = 100;
        }
        console.log(scroln, limit, nlimit)
    }
</script>
</html>