<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historias del Fogón</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">


</head>
<body>
    <div class="container" data-0="transform: translateX(0%);" data-2500="transform: translateX(-500%)" id="container" >
        <section class="content" data-0="opacity: 1;" data-900="opacity: 0;">
            <img src="img/portada.png" alt="" class="portada" id>
        </section>
        <section  data-1100="opacity: 0;" data-1000="opacity: 1;" data-1200="opacity:0;">
            <div class="content portadilla" id="test">
                    <h1>Historias del fogón</h1>
                    <h4>Experiencias de vida de cocineras tradicionales colimenses</h4>
                    <h4>Proyecto buendía</h4>

            </div>
        </section>
        <section>
            <div class="content">
                <h4>Historias del fogón: experiencias de vida de cocineras tradicionales colimenses<large>edición digital, 2020</large></h4><br>
                <p>Desarrollo de texto</p>
                <p>Oscar Armando Martínez</p>
                <br />
                <p>Asesoría técnica</p>
                <p>Mayreni Ortega Monroy</p>
                <br />
                <p>Fotos e ilustraciones</p>
                <p>Úrzula Reyes</p>
                <br />
                <p>Edición</p>
                <p>Proyecto Buendía</p>
                <br />
                <p>Desarrollo de publicación digital</p>
                <p>Carlos Martínez</p>
            </div>
        </section>
        <section>
            <div class="content">
                <div class="row responsive-padding">
                    <div class="card  hvr-grow" >
                        <img src="/img/icon5.png"  class="section media" alt="">
                        <h4>Presentación</h4>
                    </div>
                    <div class="card  hvr-grow" >
                        <img src="/img/portada1.png"  class="section media" alt="">
                        <h4>Bodas y platillos con Lourdes Hernández</h4>
                    </div>
                    <div class="card  hvr-grow" >
                        <img src="/img/portada2.png"  class="section media" alt="">
                        <h4>Tesoros enterrados en Ixtlahuacán</h4>
                    </div>
                    <div class="card  hvr-grow" >
                        <img src="/img/portada3.png"  class="section media" alt="">
                        <h4>Contradicciones en el paraíso</h4>
                    </div>
                    <div class="card  hvr-grow" >
                        <img src="/img/portada4.png"  class="section media" alt="">
                        <h4>Café del puerto</h4>
                    </div>
                    <div class="card  hvr-grow" >
                        <img src="/img/portada5.png"  class="section media" alt="">
                        <h4>La milpa de Eva</h4>
                    </div>
                    
                </div>
            </div>
        </section>
        <section>
            <div class="content presentacion">
                <h2>Presentación</h2>
                <p>Historias del fogón es una recopilación de textos que abordan las vidas, problemáticas y recorren las cocinas de cinco mujeres a lo largo del estado. Nace de una necesidad por visibilizar a estas mujeres, de otorgarles un espacio para contar sus logros, sus pesares y sobre todo su conocimiento.</p>
	<p>En los textos, el lector o la lectora podrán detectar que todas las mujeres entrevistadas tienen una fuerte relación con el campo, los productos que este genera y el aprovechamiento de los recursos, con métodos de recolección y técnicas de preparación, en mayor o menor medida, cercanas a la tradición de la cocina nacional pero con las particularidades del estado. De la misma forma, son receptoras y transmisoras de un conocimiento a través de la oralidad que proviene, en la mayoría de los casos, de figuras femeninas con un nivel de relación terciario: abuelas y abuelos, suegras, patronas, etcétera.</p>
	<p>En suma, las cuatro palabras claves con las que se podría resumir esta obra son: mujer, campo, cocina y oralidad.</p>
	<p>Antes de continuar, es necesario mencionarle al lector o lectora algunas particularidades de esta edición digital:</p>
	<ul>
		<li>Todo el texto que se encuentre indicado de <a target="_blank" href="">esta manera</a> está vinculado a contenido externo en internet y es posible consultarlo desde el dispositivo donde se esté leyendo.</li>
		<li>A través de la aplicación de lectura que se esté usando (<a target="_blank" href="https://calibre-ebook.com/download">Calibre</a>, <a target="_blank" href="https://chrome.google.com/webstore/detail/readium/fepbnnnkkadjhjahcafoaglimekefifl?hl=es">Readium</a> de Google, <a target="_blank" href="https://addons.mozilla.org/es/firefox/addon/epubreader/">EPUBReader</a> de Mozilla FireFox, entre otras) pueden ser modificadas las preferencias de lectura (tamaño, color y tipo de letra, así como color de fondo) para generar una experiencia más cómoda.</li>	
	</ul>
	<p>La ventaja principal que ofrece esta publicación digital es la mayor y más rápida distribución que el contenido puede tener; invitamos al lector o lectora a que comparta libremente la obra, siempre y cuando no haga uso comercial de ella. Las características de la licencia pueden ser consultadas <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/">aquí</a>.</p>

            </div>
        </section>
        <section data-2600="transform: translateY(220%);" data-5000="transform: translateY(-250%);">
            <div class="cover">

            </div>
            <div class="content text1">
                <img src="img/portada1.png" class="img1" alt="">
                <h2>Bodas y platillos con Lourdes Hernández</h2>
                <br>
                <p>En 1824, el territorio de Colima y la entonces Provincia de Guadalajara se decretaron como dos estados federales totalmente independientes. Con esta división, Jalisco se añadiría localidades como Tuxpan, Tolimán, Zapotitlán de Vadillo, Pihuamo y demás regiones que compartían con Colima una identidad cultural. <br>
    
                    Sin embargo, los efectos de la cultura no entienden de líneas imaginarias y aunque ahora nos podríamos pensar separados por un volcán harto de fotografías y metáforas en su honor, casi dos siglos después, la identidad del sur de Jalisco y Colima siguen siendo bastantes cercanas. Se manifiesta de manera contundente y particular, por sólo mencionar un hecho, en la confusión que hasta la fecha genera Pedro Páramo en los lectores locales, aguerridos a querer localizar un pueblo imaginario que nunca existió, sin entender que ese Comala lleno de muertos es la representación de todo un territorio. <br>
                    
                    Tenemos el mismo pasado y en el presente nos unimos a Jalisco a través de platillos, ingredientes, voces, biosfera, tradiciones y rituales. Somos un efecto similar a Tijuana y San Diego, aunque a nosotros no nos separa un visado. Así es nuestra naturaleza como sociedad, separatismo individualista y este 2020 estamos llegando a unos extremos que nunca desearíamos. <br>
                    
                    Pero ante las situaciones adversas, el pensamiento comunitario no tarda en reivindicarse y las acciones más cotidianas, como la cocina, se convierten en espacios de defensa de nuestra colectividad. <br>
                
                </p>
                <br>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <p>
                    Mi abuela se llamaba Raquel Nava y era originaria de Zapotitlán de Vadillo, Jalisco, aquí cerquita de Colima. En su pueblo creció viendo cómo las gentes humildes, cuando querían celebrar en grande una boda o un evento importante, se cooperaban con ingredientes, animales o manos para preparar festines y banquetes juntos. Lo que más se preparaba era mole de bodas, platillo bien importante y típico, más comido en los festejos de los acaudalados de los ranchos, por su costo.

                    Mi bisabuelo murió por cristero y cerca de 1940, ya casada, mi abuela Raquel y mi abuelo dejaron juntos su terruño y se fueron a vivir a El Remate.

                    En ese entonces, según los historiadores que he leído, El Remate era una pequeña Suiza del mundo rural, pues solía tener buenos servicios destinados para los trabajadores y familias de la extinta planta eléctrica, que dejó como ruinas los estanques, los acueductos que bajan por la barranca y las piezas grandes que están entre la maleza.

                    Mi abuela Raquel cocinaba para los trabajadores con el fin de ingresar un dinerito extra a la bolsa, pues aunque mi abuelo trabajaba en el campo, dinero no llegaba hasta el final de la cosecha. Con el tiempo mi mamá y su hermana nacieron en El Remate y años después también yo.

                    Mi nombre es Lourdes Hernández, soy la hija mayor de mi mamá y nací en 1967, el mismo año que la planta dejó de funcionar. En 2016 presenté en el Primer Festival Gastronómica de Comala el mole de bodas que mi abuela Raquel me enseñó a cocinar y resulté ganadora en el concurso Rescatando la cocina típica de Comala. Desde esa bonita experiencia, me dedico a mostrar mi conocimiento del campo y todo lo que mi abuela me enseñó

                    Vivo en La Caja, ejido a 6 kilómetros de Comala y en medio trecho hacia El Remate. Mi cocina es un hermoso espacio bajo un árbol de tamarindo con fogones, hornos de barro, leña, metates, balsas y diversas plantas de las que poseo muy buen conocimiento. Este espacio lo estoy diseñando para hacer una pequeña escuelita de cocina tradicional.

                    Yo crecí, digamos, que entre los fogones de mi abuela y el campo. Así fue prácticamente mi niñez, los juegos de nosotros eran jugar a la comidita y a la cocinera. Más crecidita, estaba encargada de llevar, junto con otros chiquillos, el almuerzo a los jornaleros y ahí nos distraíamos viendo cómo trabajaban. Yo aprendí a amar al campo y la cocina como un juego, no como una obligación.

                    La vida del campo es bonita, entre la tranquilidad y la belleza de la naturaleza, ¡pero no te creas, eh! Mi familia y yo vivimos pobreza, pero no esa en la que tú pasas hambre, ¿entiendes?

                    Mi abuelo y mi papá fueron hombres que se dedicaron al campo y en El Remate de todo se daba: sembraban variedades de chiles serranos, güeros, pasillas y de árbol; variedades de jitomates como el silvestre de riñón y un tomatito milpero, moradito y muy aromático, que es bueno para las salsas. Sobre el maíz, también te puedo decir que lo conozco muy bien porque me enseñaron a aprovecharlos toda la temporada: desde bien tiernitos y así crudos, hasta bien sazones para usarlos en una preparación con leche y azúcar llamada Tamal colado.

                    Por su parte, mi abuela Raquel era muy cuidadosa en cómo alzaba y conservaba lo que venía de las tierras: antes nomás lo podías hacer con el fuego, con el humo, la sal y el vinagre. Fue ella mi primer contacto con la cocina, quien me enseñó a comprar, a darle punto a los platillos y de quien recibí los mejores consejos que me han dado.

                    Acerca de la cocina, el consejo más presente que tengo, es el que me compartió sobre la receta de su mole de bodas: mi abuela decía que este tiene que saber a todo y a la vez a nada, que ningún ingrediente gane en sabor al otro. Por eso me gusta hacer el mole, porque es unidad entre los ingredientes y festejo, se hace en en momentos que son para disfrutar.
                </p>
                <img src="img/fig1.jpg" alt="">
                <p>Pensarán que hago mucho ruido por una receta tan popular, que se come en todas las cenadurías. Pero es que el mole de mi abuela es diferente, también es de sabor semi dulce, ¡pero eso sí!, no lleva tanta cosa: no le pongo pasas, ni galletas y no sé cuánto más. El mío es sencillo, consiste únicamente de chiles, ajos, chocolate, piloncillo, harina y diferentes olores machacados en el metate para aprovecharlos bien.
                </p>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <p>
                    Me acuerdo de las memorias de mi abuela, era una muy bonita época la que nos contaba ella. En las bodas de antes, decía, se servían caldos y consomés riquísimos, calabacitas con cerdo o pipianes, pero el mero momento y el que la gente más esperaba, era el del mole, acompañado de su pieza de guajolote y su sopita de arroz.

                    Es muy bonito contarlo, pero no se confundan, no me considero una persona que viva del pasado, por eso creo que hay cosas que deberían recordarse como historias pero no vivirse en estos momentos, sobre todo para nosotras las mujeres.

                    Te voy a contar que cuando una jovencita era pedida en matrimonio y se aceptaba el ofrecimiento, la futura suegra encargaba a la novia tejer chiquihuites grandes, ¡enteros!, llenos de servilletas en punto de cruz y repartirlos entre las cuñadas, las tías, las amigas y cuanta mujer te pusiera la suegra en lista. El día de la misa, una dejaba los chiquihuites en las puertas de la iglesia, para demostrarles que sí habías cumplido.

                    Pero además, la novia tenía que tejer el mantel para su propia mesa. Y si por algo no se cumplía, la penitencia era una forma de exhibición pública: de todas las demás mesas se encargaba la suegra de ponerles, pero a tu mesa, la mesa de la novia, no se le ponía nada.
                </p>
                <blockquote>¡Si tu no hiciste el mantel, pues tu mesa iba a estar pelona!</blockquote>
                <p>
                    Entonces lo que te digo, es que se me hace bonito recordar y a la vez pienso: qué bueno que ya no existe. ¿Por qué darte el valor como mujer por una servilleta? A lo mejor algunas familias todavía lo usen en Zapotitlán, pero ya no es muy común. Así como el tejido, que ya no muchas mujeres de La caja lo hacemos, hemos de ser unas tres quienes lo practicamos.

                    También te platico, había otras ocurrencias de aquellos años que a mi me causan un tipo de risa. De voz de mi abuela, escuché que cuando el padre de la novia no se sentía bien atendido durante la fiesta, en un acto de soberbia, metía su dedo a plato ajeno y manchaba de mole su costado izquierdo, como para que todos vieran que el padre no estaba siendo bien atendido.

                    Afortunadamente eso ya no me tocó en mi boda, pero tampoco comimos mole. Hubo un momento en el que la gente dejó de tejer las servilletas y eso que yo te contaba, pero también comenzaron a servir otras comidas en los eventos. Y todo esto a mí me hacía pensar: bueno, si gusta tanto el mole y tiene tantas historias, ¿por qué la gente ya no hace mole?

                    Yo creo que es a lo mejor por la desunión o a lo mejor que ya no te quiero pedir o ya no te quiero consultar, porque antes así era. En Zacualpan todavía se utiliza, no con el mole, pero pasa que la gente se junta para las fiestas y hacen unos fiestonones.
                </p>
                <div class="decorators">
                    <img src="img/icon1.png" class="deco1" alt="">
                </div>
                <P>
                    Después de ganar el concurso en 2016 comencé a viajar por algunas ciudades de la república, aprendiendo de otras cocineras en encuentros y cocinando en algunas ferias. Visité la Ciudad de México, Chiapas e Hidalgo y he conocido a cocineras como a la chef de Cevichería Tabasco, a Juana Bravo y otros referentes nacionales de la cocina tradicional, trabajadores de museos, historiadores y personas que me han ayudado mucho.

                    En mis viajes, me he percatado que la cocina tradicional y la identidad de Colima es aún desconocida para el resto del país e incluso para los mismos colimenses, quienes regularmente pensamos que no existe una tradición propia. Las personas que conocí en los encuentros a los que asistí, preguntaban si Colima realmente es poseedor de una cocina auténtica y no es un producto de las regiones de alrededor.

                    No me dejarán mentir, que a diferencia de otras entidades de la república, como en Michoacán, Oaxaca o Chiapas, hasta hace unos años en Colima, este movimiento de la cocina tradicional no estaba de moda. Primero hubo algunos chefs que comenzaron a promocionar platillos e ingredientes de nuestro territorio y después un grupo de cocineras tradicionales y yo, la mayoría de la parte norte del estado, comenzamos a organizarnos en el colectivo Mujeres de Fuego. Hemos realizado pláticas, vendimias y es una forma de mostrar nuestra cocina.

                    Ahora yo tengo bien fijo lo que quiero dar a conocer: no en sí la pura receta de una comida u otra, sino que conozcan las raíces, la cultura, la forma como te puedes alimentar de una manera donde no necesites tanto. Que estén presente porque yo creo que es una forma de subsistencia.

                    En estos tiempos de tanta pandemia y tanta crisis, no le tengo miedo al hambre, sé que yo y los míos vamos a estar bien, porque hemos aprendido a aprovechar y conocer lo que la tierra nos ofrece. Nosotros sin luz ni internet no nos paralizamos, sabemos guardar las hortalizas en balsas con ceniza del fogón, sé curar la carne cruda con sal y humo, sé hacer una tortilla y en todo este conocimiento, yo veo una oportunidad.
                </P>
                <blockquote>A lo mejor son técnicas muy rudimentarias, a lo mejor nadie va a poner un fogón en su casa, porque no se puede, pero de menos que lo sepas.</blockquote>
                <p>
                    Si quieres saber más de mi y seguir mis publicaciones, puedes agregarme en Facebook e Instagram.
                </p>
            </div>
        </section>
    </div>
    <div class="footer">
        <div>
            
            <button id="prev" class="controls"><i class="fas fa-arrow-left"></i></button>
            <button id="next" class="controls"><i class="fas fa-arrow-right"></i></button>
            <button id="volum" class="controls"><i class="fas fa-volume-up"></i></button>


        </div>
    </div>
</body>
<script type="text/javascript" src="./js/skrollr.js"></script>
<script type="text/javascript">
    
    var prevBtn = document.getElementById("prev");
    var s = skrollr.init();
    var nextBtn = document.getElementById("next");
    var volumeBtn = document.getElementById("volum").childNodes[0];
    var sound = true;
    var textview = document.getElementsByClassName("text1");
    var increment = 0; 
    var content = document.getElementsByName("content").offsetWidth;

    console.log(content);

    volumeBtn.onclick = function(){
        sound =!sound;
        if(sound == false){
            volumeBtn.classList.remove('fas', 'fa-volume-up');
            volumeBtn.classList.add('fas', 'fa-volume-off');
        }else{
            volumeBtn.classList.remove('fas', 'fa-volume-off');
            volumeBtn.classList.add('fas', 'fa-volume-up');
        }
    }
    

    prevBtn.onclick = function(){
        increment -= 500;
        s.animateTo(increment);
        console.log(increment)
    }
    nextBtn.onclick = function(){
        increment += 500;
        s.animateTo(increment);
        console.log(increment)
    }


    
</script>
<script src="https://kit.fontawesome.com/1e1a8bc4b5.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    scroln = 0 ;
    var elements = document.getElementById("container").childElementCount;
    
</script>
</html>