*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;

}
.container
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100vh;
    
}
.content{
    top: 0;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    justify-content: center;
    max-width: 1080px;
    
}

.container section
{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card{
    width: 500px;
    height: 250px;
    display: block;
}

.card img{
    width: 500px;
    height: 160px;
    image-resolution: 100%;
}



.section h4{
    font-size: 11pt;
}

.portadilla{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #E8D42A;
}

.portada {
    max-width: 30%;
    height: auto;
}
/* mobile condition*/
@media screen and (max-width: 800px){
    .portada{
        max-width: 100%;
        height: auto;

    }

    
    .section, .media, img{
        display: block;
    }

    .card h4{
        font-size: 10pt;
        
    }

}

.img1{
    width: 100%;
    align-self: center;
    height: 100vh;
    margin-top: 40%;
}

.presentacion{
    width: 1080px;

}

.controls{
    width: 50px;
    height: 50px;
}


.ps{
    text-indent: 0.5em;
}
.decorators{
    width: 100%;
    text-align: center;
}

.text1 h2{
    margin-top: 20%;
    text-align: center;
}

.deco1{
    text-align: center;
    top: 0;
    width: 10%;
    height: auto;
}

