*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;

}
.container
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
}
.content{
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: justify;
    justify-content: center;
    max-width: 1080px;
    
}

.container section
{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portadilla{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #E8D42A;
}

.portada {
    width: 30%;
    height: auto;
}

.presentacion{
    width: 1080px;

}

.controls{
    width: 50px;
    height: 50px;
}


.ps{
    text-indent: 0.5em;
}
.decorators{
    width: 100%;
    text-align: center;
}

.text1 h2{
    text-align: center;
}

.deco1{
    text-align: center;
    top: 0;
    width: 10%;
    height: auto;
}

.img1{
    width: 100%;
}

.cover{
    width: 100%;
    height: 100%;
    background-image: url('/img/portada1.png');
    background-size: contain;
}


.card{
    margin: 50px;
}

